node_modules
npm-debug.log*
.npm
.nyc_output
coverage
.grunt
lib-cov
*.lcov
.vscode
.idea
*.log
logs
*.tgz
.env.local
.env.development.local
.env.test.local
.env.production.local
.DS_Store
Thumbs.db
dist
server
adapters
.qwik
*.tsbuildinfo